## 🗂️ SQL Topics Practiced – In-depth Notes (DBMS)
- SQL (Structured Query Language) is the standard language used to interact with relational databases. Below is a breakdown of the SQL topics practiced, with explanations and example queries.

---

### **1. SELECT Statement**
- **Purpose:** Retrieve data from one or more tables.
- **Syntax:** 
    ```sql
    SELECT column1, column2 FROM table_name;
    ```

---

### **2. Cartesian Product / AS**
- **Cartesian Product:** When two tables are combined without a condition, every row from the first table is paired with every row from the second.
    ```sql
    SELECT * FROM TableA, TableB;
    ```
- **AS (Alias):** Assigns a temporary name to a table or column.
    ```sql
    SELECT s.name AS student_name FROM Students AS s;
    ```

---

### **3. WHERE Clause (AND / OR)**
- **Purpose:** Filter records based on conditions.
- **AND:** Both conditions must be true.
- **OR:** At least one condition must be true.
- **Example:**
    ```sql
    SELECT * FROM Employees WHERE age > 30 AND department = 'HR';
    ```

---

### **4. String Matching**
- **LIKE Operator:** Used for pattern matching with wildcards.
    - `%` matches any number of characters.
    - `_` matches a single character.
- **Example:**
    ```sql
    SELECT * FROM Products WHERE name LIKE 'S%';
    ```

---

### **5. ORDER BY**
- **Purpose:** Sort results based on one or more columns.
- **Syntax:**
    ```sql
    SELECT * FROM Students ORDER BY age DESC;
    ```
- **Default:** ASC (ascending).

---

### **6. IN Operator**
- **Purpose:** Match values against a list.
- **Example:**
    ```sql
    SELECT * FROM Orders WHERE status IN ('Shipped', 'Delivered');
    ```

---

### **7. Set Operations**
- Combine results from multiple queries.
    - **UNION:** Combines results, removes duplicates.
    - **INTERSECT:** Returns common rows.
    - **EXCEPT:** Returns rows in the first query that are not in the second.
- **Example:**
    ```sql
    SELECT name FROM Table1
    UNION
    SELECT name FROM Table2;
    ```

---

### 8. Aggregate Functions
- **Purpose:** Perform calculations on a set of values.
- **Functions:**
    - `AVG()` – Average
    - `MIN()` – Minimum
    - `MAX()` – Maximum
    - `COUNT()` – Number of entries
    - `SUM()` – Total sum
- **Example:**
    ```sql
    SELECT AVG(salary) FROM Employees WHERE department = 'IT';
    ```

---

## ✅ Summary:
- These SQL operations form the foundation of querying and analyzing relational databases in DBMS. Mastery of these enables users to:
    - Efficiently retrieve and filter data.
    - Combine and compare datasets.
    - Generate summarized reports and insights from raw data.